<html>
  <img src="https://lh3.googleusercontent.com/OkeyTo36i61SWrbhvIIbJxv5xawIYYT-nj3QtUAdmdnWWZFZf4O0QoLhbFQFSNlIG3UIrJTDdbifTZ9uecmSGYJ8-W_yr3yHPwbWxmhUEdG-MvlyRoLvEYtDLDe6WkiTymEF-9945xvNeAOXdUdZx1C-qbqmvuNjyB0Nch-RxafQB5J1OZ3RQWeDYJCyTrmIOyXS8VNft-iIJGm0A4uH9ovUUeZKZAqrj8X94XKuHQNEqofZVHuiA12BH02_4otURHizXKLFTf56Oo3f127QWUyiQucTm7lSQdIPucT0m_IrtZBgSEhUkAzyV0yAxFZbJkwIlzu4VCvtGHNg7VXNGIUINPAcnKSdss-ezciDfInM8yPtFMU-PFNGZQD08-4B2hpKlh512cJ2wZY4glkPPqlcdqnhNRecIrxwqLegwFgLpCv8kmKcXYoqrCYoCWh--DRT7E96na_UMtmcJBihf23FR0IF3phgMy4Pxz_1hjOAv8BCEeSHuTq6yfQWJ1FwnkVAmdmlQuBJZJgHxsSAkQNvrdcGo66hiMV7CoXMMF7Q66QTBp5oySZBgSAgKjBC-vrqRSPMEnlqNQm4AE4Ar1NAIvr_Hgf-3MdF939UKN4mrgU5BEFpd5bl6283JhujNiyjgEEjaisTOxPZRMGxwJ8hnwdOk88=w594-h427-no">

<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Logout">
</form>

</html>
